<h3>CIT rock climbing club</h3>
<h4><i class="fa fa-facebook"></i> Facebook page</h4>
<p>
<a href="https://www.facebook.com/citrockclimbingclub">
    https://www.facebook.com/citrockclimbingclub
</a>
</p>
<h4><i class="fa fa-envelope"></i> Email</h4>
<p>
    <a href="mailto:irishclimbingintervarsities@gmail.com">
        irishclimbingintervarsities@gmail.com
    </a>
</p>
<h3>Cork Institute of Technology</h3>
<h4><i class="fa fa-map-marker"></i> Address</h4>
<p>
Cork Institute of Technology<br>
Rossa Avenue<br>
Cork<br>
<p>
<a href="https://www.google.com/maps/place/51%C2%B053'02.5%22N+8%C2%B032'02.4%22W">
    Open in Goole maps
</a>
</p>
<h3>CIT sports office</h3>
<h4><i class="fa fa-phone-square"></i> Phone number</h4>
<p>021 4335764</p>
<br>