<div class="row">
    <div class="col-md-6">
        <h3>
            <i class="fa fa-calendar"></i>
            Dates
        </h3>
        <p>
            From Saturday 7th of March 2015<br>
            To Sunday 8th of March 2015
        </p>
    </div>
    <div class="col-md-6">
        <h3>
            <i class="fa fa-money"></i>
            Entry Fee
        </h3>
        <p>
            €25 per person
        </p>
        <p>
            Great prizes will be awarded on Sunday
        </p>
    </div>
    <div class="col-md-6">
        <h3>
            <i class="fa fa-map-marker"></i>
            Location
        </h3>
        <p>
            Awesome Walls<br>
            Sports Village<br>
            Eden Hall<br>
            Model Farm Road<br>
            Cork
        </p>
        <p>
            <a target="_blank" href="https://www.google.ie/maps/place/51%C2%B053'26.5%22N+8%C2%B032'20.1%22W">
                Show location in Goole maps
            </a>
            <br>
            <a target="_blank" href="https://www.google.ie/maps/dir/51.8840732,-8.5317549/51.8910128,-8.5387204/@51.8875453,-8.5394391,16z/data=!3m1!4b1!4m2!4m1!3e2">
               Walking from CIT to Awesome Walls
            </a>
        </p>
    </div>
    <div class="col-md-6">
        <h3>
            <i class="fa fa-bus"></i>
            Bus from the City to CIT
        </h3>
        <ul>
            <li>
                Take number 205 from the Kent train station, St Patrick's street or Washington street, in CIT direction
            </li>
            <li>
                Journey time is 20-40 minutes depending on where you get on
            </li>
            <li>
                The ticket price is &euro;2.00
            </li>
            <li>
                <a target="_blank" href="http://www.buseireann.ie/pdf/1360754164-205.pdf">View timetable</a>
            </li>
            <li>
                <a target="_blank" href="https://www.google.ie/maps/dir/51.9018357,-8.4577366/51.8855046,-8.5313166/@51.8927841,-8.4933272,14z/data=!4m2!4m1!3e3">View bus route on Google maps</a>
            </li>
        </ul>
    </div>
</div>