<h3>
    <i class="fa fa-pencil-square-o"></i>
    Register a competitor
</h3>
<br>
<form name="register" ng-submit="submit()">
    <div class="alert alert-danger" ng-if="error">
        <i class="fa fa-exclamation-triangle"></i>
        {{ error_text }}
    </div>
    <div class="alert alert-success" ng-if="success">
        <i class="fa fa-check-square-o"></i>
        Your registration was completed successfully
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="college">
                College name
            </label>
        </div>
        <div class="col-md-8">
            <input class="form-control" type="text" id="college" ng-model="college" placeholder="Please enter the full name of your college" required maxlength="255" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="name">
                Name of competitor
            </label>
        </div>
        <div class="col-md-8">
            <input class="form-control" type="text" id="name" ng-model="name" placeholder="Please enter your full name" required maxlength="255" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="email">
                Email address of competitor
            </label>
        </div>
        <div class="col-md-8">
            <input class="form-control" type="email" id="email" ng-model="email" placeholder="Please enter your email address" required maxlength="255" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="category">
                Category
            </label>
        </div>
        <div class="col-md-8">
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i>
                Category A: 1
                or more years of climbing experience
                <br>
                <i class="fa fa-info-circle"></i>
                Category B: less
                than 1 year of climbing experience
            </div>
            <select class="form-control" id="category" ng-model="category" ng-options="category for category in categories">
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="grade">
                Grade climbing at
            </label>
        </div>
        <div class="col-md-8">
            <select class="form-control" id="grade" ng-model="grade" ng-options="grade for grade in grades">
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block" ng-disabled="loading">
        Submit
        <span ng-if="loading">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </button>
    <input type="reset" class="btn btn-default btn-block" value="Reset" />
</form>
