<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Irish Rock Climbing Intervarsities 2015</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="irishclimbingApp">
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-cloak>
      <h2>Irish Rock Climbing<br>Intervarsities 2015</h2>
      <div class="header">
        <ul class="nav nav-pills pull-right" ng-controller="MenuCtrl">
          <li ng-class="{ active: isActive('home')}">
            <a href="#">
              Home
            </a>
          </li>
          <li ng-class="{ active: isActive('register')}">
            <a href="#/register">
              Register
            </a>
          </li>
          <li ng-class="{ active: isActive('contact')}">
            <a href="#/contact">
              Contact
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div ng-view=""></div>

      <br>
      <div class="footer" ng-controller="SponsorsCtrl">
        <p ng-if="loading">
            <i class="fa fa-spinner fa-spin"></i>
        </p>
        <div ng-if="!loading && !error">
          <p>Our sponsors:</p>
          <ul ng-repeat="sponsor in sponsors">
            <li>
              <a target="_blank" ng-href="{{ sponsor.link }}">
                {{ sponsor.title }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/sponsors.js"></script>
        <script src="scripts/controllers/admin.js"></script>
        <script src="scripts/controllers/admin/competitors.js"></script>
        <script src="scripts/controllers/admin/sponsors.js"></script>
        <!-- endbuild -->
</body>
</html>
