<br>
<div ng-if="loading">
    <i class="fa fa-spinner fa-spin"></i>
    Loading...
</div>
<div ng-if="!loading">
    <ul class="nav nav-pills pull-left" ng-controller="MenuCtrl">
      <li ng-class="{ active: isActive('admin/competitors')}">
        <a href="#/admin/competitors">
          Competitors
        </a>
      </li>
      <li ng-class="{ active: isActive('admin/sponsors')}">
        <a href="#/admin/sponsors">
          Sponsors
        </a>
      </li>
      <li ng-class="{ active: isActive('admin/logout')}">
        <a href="#/admin/logout">
          Log out
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
    <br>
    <div class="alert alert-success" ng-if="success">
        {{ success }}
    </div>
    <div class="alert alert-danger" ng-if="error">
        {{ error }}
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="btn btn-block btn-success" ng-click="create()">
                Create
            </div>
            <br>
        </div>
        <div class="col-sm-6">
            <input class="form-control" ng-model="filter" placeholder="Search&hellip;" />
            <br>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-click="sort('college')" class="pointer">
                    College
                    <i class="pull-right fa fa-sort gray" ng-if="sortColumn!='college'&&sortColumn!='-college'"></i>
                    <i class="pull-right fa fa-sort-desc" ng-if="sortColumn=='-college'"></i>
                    <i class="pull-right fa fa-sort-asc" ng-if="sortColumn=='college'"></i>
                </th>
                <th ng-click="sort('name')" class="pointer">
                    Name
                    <i class="pull-right fa fa-sort gray" ng-if="sortColumn!='name'&&sortColumn!='-name'"></i>
                    <i class="pull-right fa fa-sort-desc" ng-if="sortColumn=='-name'"></i>
                    <i class="pull-right fa fa-sort-asc" ng-if="sortColumn=='name'"></i>
                </th>
                <th ng-click="sort('category')" class="pointer">
                    Category
                    <i class="pull-right fa fa-sort gray" ng-if="sortColumn!='category'&&sortColumn!='-category'"></i>
                    <i class="pull-right fa fa-sort-desc" ng-if="sortColumn=='-category'"></i>
                    <i class="pull-right fa fa-sort-asc" ng-if="sortColumn=='category'"></i>
                </th>
                <th ng-click="sort('timestamp')" class="pointer">
                    Registered
                    <i class="pull-right fa fa-sort gray" ng-if="sortColumn!='timestamp'&&sortColumn!='-timestamp'"></i>
                    <i class="pull-right fa fa-sort-desc" ng-if="sortColumn=='-timestamp'"></i>
                    <i class="pull-right fa fa-sort-asc" ng-if="sortColumn=='timestamp'"></i>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer" ng-repeat="competitor in competitors | filter:filter | orderBy:sortColumn" ng-click="edit(competitor)">
                <td>
                    <div class="truncate-100">
                        {{ competitor.college }}
                    </div>
                </td>
                <td>
                    <div class="truncate-100">
                        {{ competitor.name }}
                    </div>
                </td>
                <td>
                    {{ competitor.category }}
                </td>
                <td>
                    {{ competitor.timestamp }}
                </td>
                <td>
                    <button class="btn btn-block btn-sm btn-danger" ng-click="$event.stopPropagation();delete(competitor.id)" ng-disabled="deleting[competitor.id]">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>