<br>
<div ng-if="loading">
    <i class="fa fa-spinner fa-spin"></i>
    Loading...
</div>
<div ng-if="!loading">
    <ul class="nav nav-pills pull-left" ng-controller="MenuCtrl">
      <li ng-class="{ active: isActive('admin/competitors')}">
        <a href="#/admin/competitors">
          Competitors
        </a>
      </li>
      <li ng-class="{ active: isActive('admin/sponsors')}">
        <a href="#/admin/sponsors">
          Sponsors
        </a>
      </li>
      <li ng-class="{ active: isActive('admin/logout')}">
        <a href="#/admin/logout">
          Log out
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
    <br>
    <div class="alert alert-success" ng-if="success">
        {{ success }}
    </div>
    <div class="alert alert-danger" ng-if="error">
        {{ error }}
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="btn btn-block btn-success" ng-click="create()">
                Create
            </div>
            <br>
        </div>
        <div class="col-sm-6">
            <input class="form-control" ng-model="filter" placeholder="filter&hellip;" />
            <br>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Link
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer" ng-repeat="sponsor in sponsors | filter:filter" ng-click="edit(sponsor)">
                <td>
                    {{ sponsor.title }}
                </td>
                <td>
                    {{ sponsor.link }}
                </td>
                <td>
                    <button class="btn btn-block btn-sm btn-danger" ng-click="$event.stopPropagation();delete(sponsor.id)" ng-disabled="deleting[sponsor.id]">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>